* {
  margin: 0;
  padding: 0;
  color: var(--color-letra-home);
  font-size: 15px;
}
.content_main {
  width: 100%;
  height: 100px;
  padding-top: 2%;
  display: flex;
  flex-direction: row;
}
.content_title_sucursal {
  width: auto;
  height: 100%;
  display: flex;
  margin-left: 3%;
  flex-direction: column;
  align-items: flex-start;
}
.name_sucursal {
  width: 200px;
  color: var(--color-letra-secundario);
  font-size: 30px;
}
.content_menu {
  width: 80%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding-left: 3%;
}
.p_main{
  width: 30%;
  height: auto;
  text-decoration: none;
}
.content_menu a p:hover {
  color: var(--color-letra-secundario);
}
.content_sucursal_main {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
}
.content_sucursal {
  width: 25px;
  height: 25px;
  padding: 10px;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
}
.logo_sucursal {
  height: 100%;
  width: 100%;
  fill: var(--color-letra-home);
}

.sucursal_div {
  width: auto;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
}
.sucursal {
  width: 20px;
  height: 20px;
  margin-left: -10px;
  border-radius: 50px;
  display: flex;
  padding: 10px;
  outline: none;
  border: none;
  background-color: var(--color-base);
}
.sucursal:hover {
  background-color: var(--color-seleccionar-header);
}
.sucursal option {
  padding: 20px;
}
.btn_carrito {
  width: 45px;
  height: 45px;
  padding: 10px;
  border: none;
  border-radius: 50px;
  background-color: var(--color-base);
}
.btn_carrito:hover {
  background-color: var(--color-seleccionar-header);
}
.logo_carrito {
  width: 100%;
  height: 100%;
  fill: var(--color-letra-home);
}
.btn_Sesion {
  margin-right: 3%;
  padding: 10px 30px;
  border-radius: 50px;
  background-color: var(--color-base);
}

/*============= USUARIO LOGEADO ====================*/

.content_userlogeado {
  margin-right: 3%;
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}
.user_name {
  width: auto;
  height: 100%;
  margin-right: 10px;
}
.user_name p {
  width: auto;
  height: auto;
  font-size: 15px;
  text-align: end;
}
.phoneHeader {
  color: #626262;
  font-size: 10px;
}
.user_photo {
  width: 50px;
  height: auto;
  background-size: cover;
}

.user_photo img {
  width: 100%;
  height: 100%;
}
