:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /**============= COLORES ===================*/ 
  --color-base: #000000;
  --color-secundario: #ffffff;
  --color-category: #08090b;

  --color-letra-home: #bbbbbb;
  --color-letra-secundario: #ffffff;

  --color-seleccionar-header: #454545;

  --color-modal-black: #1d2026;
}
.root{
  height: 100%;
}
body{
  background-color: var(--color-base);
}